# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Environment file
*.env

# VSCode workspace config file
*.code-workspace

# App specific dev files.
.DS_Store
.vscode
bin
certificates

# Minecraft server files
*.json
world
server.properties
logs
